<header ng-switch on="$location.path().indexOf('/Cursos/new') > -1">
    <h3 ng-switch-when="true">Create a new Curso</h3>
    <h3 ng-switch-when="false">View or edit Curso</h3>
</header>
<form id="CursoForm" name="CursoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': CursoForm.descricao.$invalid}">
        <label for="descricao" class="col-sm-2 control-label">Descricao</label>
        <div id="descricaoControls" class="col-sm-10">
            <input id="descricao" name="descricao" type="text" required ng-maxlength="50" class="form-control" ng-model="curso.descricao" placeholder="Enter the Curso Descricao"></input>
            <span class="help-block error" ng-show="CursoForm.descricao.$error.required">required</span> 
            <span class="help-block error" ng-show="CursoForm.descricao.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CursoForm.cargaHoraria.$invalid}">
        <label for="cargaHoraria" class="col-sm-2 control-label">Carga Horaria</label>
        <div id="cargaHorariaControls" class="col-sm-10">
            <input id="cargaHoraria" name="cargaHoraria" type="number" required ng-maxlength="3" class="form-control" ng-model="curso.cargaHoraria" placeholder="Enter the Curso Carga Horaria"></input>
            <span class="help-block error" ng-show="CursoForm.cargaHoraria.$error.required">required</span> 
            <span class="help-block error" ng-show="CursoForm.cargaHoraria.$error.number">not a number</span>
            <span class="help-block error" ng-show="CursoForm.cargaHoraria.$error.maxlength">maximum length is 3</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCurso" name="saveCurso" class="btn btn-primary" ng-disabled="isClean() || CursoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCurso" name="deleteCurso" class="btn btn-danger" ng-show="curso.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>